body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.header,
.hero {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 70%;
}

#header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

#logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

.header-link {
    font-size: 18px;
    color: #e5e7eb;
}

#hero {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 112px;
}

#hero-text-container {
    width: 500px;
}

#hero-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

#hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: white;
    padding: 8px 24px;
    font-weight: bold;
    border: 0px;
    border-radius: 8px;
    margin-top: 16px;
}

#placeholder {
    background-color: #6d747d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 112px;
}

.info-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 72px;
}

#info-heading {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-bottom: 32px;
}

#cards-collection{
    display: flex;
    gap: 56px;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 210px;
}

.card {
    border: 5px solid #3882f6;
    border-radius: 24px;
    width: 200px;
    height: 200px;
    margin-bottom: 8px;
}