body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.header {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 70%;
    padding: 16px;
}

#header {
    display: flex;
    justify-content: space-between;
}

#logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

.header-link {
    font-size: 18px;
    color: #e5e7eb;
}